<!-- templates/registration/login.html -->
{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<!--h2>Login</h2-->
<form method="post" style="margin: 20px;">
    <div class="card border-primary mb-3" style="max-width: 22rem; margin:0 auto;">

        <img src="{% static "login.png" %}" height="100" width="100" style=" margin:15px auto;">

        <div class="card-body" >
            <div class="row justify-content-center">
                <div class="col-8">
            {% csrf_token %}
            {{ form|crispy }}
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



</form>
{% endblock %}