{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include "_modal.html" %}
    <nav class="navbar navbar-expand-lg navbar navbar-dark " style="background-color: #1b6ca8;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="forms_page">Instances</a>
            </li>
        </ul>


        <form class="form-inline my-2 my-lg-0">
          {% if not user.is_anonymous %}
             <span class="nav-link" style="color:white">
                Your are logged in as
                <strong>{{ user }}</strong>
              </span>

              <a href="{% url 'logout' %}" id="logout-btn" class="btn btn-light" role="button">Log out</a>

            {% else %}
              <button id="signup-btn" class="btn btn-light" type="button" name="button">Sign up</button><br>
              <input class="btn btn-outline-light"type="button" value="Login" id="login-btn" />
            {% endif %}



        </form>
    </div>
</nav>

<div class="container">
        <div class="section-fluid ">
  <br />

          <div class="card-columns">
            {% for form in forms %}
              {% if form.status == True %}
               <div class="card  bg-light  "  >

                       <div class="card-header text-white" style="background-color: #1b6ca8;">  {{ form.title }}</div>

                   <table class="table  table-bordered table-hover   table-sm" style="margin-bottom: 0px;">
                              <!--thead >
                              <tr>
                                <th class="text-center">Label</th>
                                <th class="text-center" scope="col">Type</th>
                              </tr>
                              </thead-->
                                <tbody>
                                     {% for object in objects %}
                                            {% if form == object.form %}
                                                     <tr>
                                                        <td class="text-center">{{ object.label }}</td>
                                                        <td class="text-center">
                                                          {% if object.type == 1 %}
                                                            <img src="{% static "open-iconic-master/svg/text.svg" %}" alt="Activated" width="10" height="10">
                                                            {% else %}
                                                           <img src="{% static "open-iconic-master/svg/calculator.svg" %}" alt="Deactivated" width="10" height="10">
                                                          {% endif %}
                                                         </td>
                                                     </tr>
                                            {% endif %}
                                     {% endfor %}
                             </tbody>
                   </table>

                   <div class="card-footer">
                         <small class="text-muted">Created in {{ form.timestamp }} by {{ form.created_by }}</small>
                   </div>

              </div>
               {% endif %}
              {% endfor %}



    </div>
  </div>


{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly
          $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
          });

          $("#signup-btn").modalForm({
            formURL: "{% url 'signup' %}"
          });

          // Create book button opens modal with id="create-modal"
          $("#create-book").modalForm({
            formURL: "{% url 'create_book' %}",
            modalID: "#create-modal"
          });

          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Book was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          function updateBookModalForm() {
            $(".update-book").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl: "books/",
                  dataElementId: "#books-table",
                  dataKey: "table",
                  addModalFormFunction: updateBookModalForm
                }
              });
            });
          }
          updateBookModalForm();

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}
