{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load render_table from django_tables2 %}

  {% include "_modal.html" %}
    <nav class="navbar navbar-expand-lg navbar navbar-dark " style="background-color: #1b6ca8;">
    <a class="navbar-brand" href="">Flexform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="../forms_page">Instances</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" href="">New {{ form_title }}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          {% if not user.is_anonymous %}
             <span class="nav-link" style="color:white">
                Your are logged in as
                <strong>{{ user }}</strong>
              </span>
              <a href="{% url 'logout' %}" id="logout-btn" class="btn btn-light" role="button">Log out</a>
                {% else %}
                  <button id="signup-btn" class="btn btn-light" type="button" name="button">Sign up</button><br>
                  <input class="btn btn-outline-light"type="button" value="Login" id="login-btn" />
                {% endif %}
        </form>
    </div>
</nav>
<div class="container">
        <div class="section-fluid ">
        <br/>
        <h3>New {{ form_title }}</h3>
        <form action="" method="post">
              {% csrf_token %}
         <table class="table center table-borderless table-sm " style="margin-bottom: 0px;">
            {% for object in objects %}
                <tr class="min">
                  <td style="text-align: right"><label for="your_name">{{ object.label }} </label></td>
                  <td style="width:0%"><input id="{{ form_id }}_{{ object.id }}" type="text" name="{{ form_id }}_{{ object.id }}" value="{{ current_name }}"></td>
                </tr>
            {% endfor %}

         </table>
             <div class="modal-footer">
             <button type="submit" class="bs-modal read-form btn btn-sm btn-secondary" style="background-color: #1b6ca8;">
                  Send
             </button>
         </div>

</form>
  </div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly
          $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
          });



          $("#signup-btn").modalForm({
            formURL: "{% url 'signup' %}"
          });

          // Create book button opens modal with id="create-modal"
          $("#create-book").modalForm({
            formURL: "{% url 'create_book' %}",
            modalID: "#create-modal"
          });

           // Create book button opens modal with id="create-modal"


          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Book was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          function updateBookModalForm() {
            $(".update-book").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl: "books/",
                  dataElementId: "#books-table",
                  dataKey: "table",
                  addModalFormFunction: updateBookModalForm
                }
              });
            });
          }
          updateBookModalForm();

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}
