{% load static %}
{% load i18n %}
{% load define_action %}
<table id="forms-table" class="table" style="margin-bottom: 0px;">
  <thead>
  <tr>
    <th class="text-center d-none d-lg-table-cell" scope="col">#</th>
    <th class="text-center d-none d-lg-table-cell" scope="col">{% trans 'Id' %}</th>
    <th class="text-center" scope="col">{% trans 'Name' %}</th>
    <th class="text-center d-none d-lg-table-cell" scope="col">{% trans 'Created by' %}</th>
    <th class="text-center d-none d-lg-table-cell" scope="col">{% trans 'Status' %}</th>
    <th class="text-center d-none d-lg-table-cell" scope="col">{% trans 'Visibility' %}</th>
    <th class="text-center d-none d-lg-table-cell" scope="col">{% trans 'Created at' %}</th>
    {% if not user.is_anonymous %}
    <th class="text-center " scope="col">{% trans 'Actions' %}</th>
    {% endif %}
  </tr>
  </thead>

  {% for form in forms %}
  <tbody>
   <tr >
      <th class="text-center d-none d-lg-table-cell" scope="row">{{ forloop.counter }}</th>
      <td class="text-center d-none d-lg-table-cell">{{ form.id }}</td>
      <td class="text-center">{{ form.title }}</td>
      <td class="text-center d-none d-lg-table-cell">{{ form.created_by }}</td>
          <td class="text-center d-none d-lg-table-cell">
       {% if form.status == True %}
        <img src="{% static "open-iconic-master/svg/circle-check_w.svg" %}" alt="Activated" width="15" height="15">
        {% else %}
       <img src="{% static "open-iconic-master/svg/circle-x_w.svg" %}" alt="Deactivated" width="15" height="15">
      {% endif %}
      </td>
        <td class="text-center d-none d-lg-table-cell">
          {% if form.private == True %}
        <img src="{% static "open-iconic-master/svg/lock-locked.svg" %}" alt="Activated" width="15" height="15">
        {% else %}
       <img src="{% static "open-iconic-master/svg/lock-unlocked.svg" %}" alt="Deactivated" width="15" height="15">
      {% endif %}
       </td>
      <td class="text-center d-none d-lg-table-cell">{{ form.timestamp }}</td>
       {% if not user.is_anonymous %}
       <td class="text-center ">
        <!-- Read form buttons -->
        <button type="button" class="bs-modal read-form btn btn-sm btn-secondary " style="background-color: #90323D; " data-form-url="{% url 'read_form' form.pk %}">
          <img src="{% static "open-iconic-master/svg/eye_w.svg" %}" width="13" height="13">
        </button>
            {% for member in members %}
                {% if form == member.form%}
                    {% if user == member.user%}
                        {% if member.role == 1 and form.created_by != user and not user.is_superuser %}
                            <!-- Update form buttons -->
                            <button type="button" class="update-form btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #1b6ca8;" data-form-url="{% url 'update_form' form.pk %}">
                               <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
                            </button>
                            <!-- Delete form buttons -->
                            <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_form' form.pk %}">
                               <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
                            </button>
                           <!--button type="button" class="bs-modal create-object btn btn-sm btn-secondary"  style="background-color: #393e46;"  data-form-url="{% url 'create_object' form.pk %}">
                              <img src="{% static "open-iconic-master/svg/plus_w.svg" %}" width="13" height="13" >
                            </button-->
                        {% endif %}
                    {% endif %}
               {% endif %}
           {% endfor %}
            {% if form.created_by == user or user.is_superuser%}
            <!-- Update form buttons -->
            <button type="button" class="update-form btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #90323D;" data-form-url="{% url 'update_form' form.pk %}">
               <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
            </button>
            <!-- Delete form buttons -->
            <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_form' form.pk %}">
               <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
            </button>
           <!--button type="button" class="bs-modal create-object btn btn-sm btn-secondary"  style="background-color: #393e46;"  data-form-url="{% url 'create_object' form.pk %}">
              <img src="{% static "open-iconic-master/svg/plus_w.svg" %}" width="13" height="13" >
            </button-->
        {% endif %}
            <button id="accordion2" data-toggle="collapse" data-parent="#{{ form.id }}_member" href="#{{ form.id }}_member" type="button" class="bs-modal btn btn-sm btn-secondary accordion-toggle collapsed" style="background-color: #158467;" >
               <img src="{% static "open-iconic-master/svg/people_w.svg" %}" width="13" height="13">
            </button>
            <button  id="accordion1" data-toggle="collapse" data-parent="#{{ form.id }}_object" href="#{{ form.id }}_object" type="button" class="bs-modal create-object btn btn-sm btn-secondary accordion-toggle collapsed"  style="background-color: #393e46;">
              <img  src="{% static "open-iconic-master/svg/box_w.svg" %}" width="13" height="13" >
            </button>
      </td>
       {% endif %}
    </tr>
    <tr class="hide-table-padding" style="padding: 0px;">
        <td class="card-footer" colspan="10"  style="padding: 0px;">
        <div id="{{ form.id }}_object" class="collapse in p-3" >
            {% for member in members %}
                {% if form == member.form%}
                    {% if user == member.user%}
                        {% if member.role == 1 and form.created_by != user and not user.is_superuser %}
                             <div class="mb-3">
                               <button type="button" class="bs-modal create-object btn btn-sm btn-secondary" style="background-color: #393e46;"  data-form-url="{% url 'create_object' form.pk %}">
                                   {% trans 'New2' %} {% trans 'Object' %}
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if form.created_by == user or user.is_superuser %}
            <div class="mb-3">
               <button type="button" class="bs-modal create-object btn btn-sm btn-secondary" style="background-color: #393e46;"  data-form-url="{% url 'create_object' form.pk %}">
                   {% trans 'New2' %} {% trans 'Object' %}
                </button>
            </div>
            {% endif %}
            {% define "unlocked" as object_lock %}
            {% for object in objects%}
                {% if form == object.form %}
                    {% if object_lock == "unlocked" %}
                        {% define "locked" as object_lock %}
                             <table  class="table table-sm" style="margin-bottom: 0px;">
                                  <thead class="thead-dark">
                                  <tr >
                                    <th class="text-center" scope="col" width="33%">{% trans 'Object' %}</th>
                                      <th class="text-center" scope="col" width="33%">{% trans 'Type' %}</th>
                                       {% if not user.is_anonymous %}
                                    <th class="text-center" scope="col" width="33%">{% trans 'Actions' %}</th>
                                        {% endif %}
                                   </tr>
                                  </thead>
                                </table>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for object in objects %}
                {% if form == object.form %}
                    <table  class="table  table-striped table-bordered table-sm" style="margin-bottom: 0px;">
                        <tbody>
                        <tr>
                            <td class="text-center" width="33%">{{ object.label }}</td>
                            <td class="text-center" width="33%">
                            {% if object.type == 1 %}
                                 <img src="{% static "open-iconic-master/svg/text.svg" %}" alt="Activated" width="10" height="10">
                            {% elif object.type == 3 %}
                                 <img src="{% static "open-iconic-master/svg/image.svg" %}" alt="Activated" width="10" height="10">
                            {% else %}
                                <img src="{% static "open-iconic-master/svg/calculator.svg" %}" alt="Deactivated" width="10" height="10">
                            {% endif %}
                            </td>
                            {% if not user.is_anonymous %}
                                <td class="text-center  " width="33%">
                                    <button type="button" class="bs-modal read-form btn btn-sm btn-secondary" style="background-color: #393e46;" data-form-url="{% url 'read_object' object.pk %}">
                                      <img src="{% static "open-iconic-master/svg/eye_w.svg" %}" width="13" height="13">
                                    </button>
                                    {% for member in members %}
                                        {% if form == member.form%}
                                            {% if user == member.user%}
                                                {% if member.role == 1 and form.created_by != user and not user.is_superuser %}
                                                      <!-- Update form buttons -->
                                                        <button type="button" class="update-object btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #393e46;" data-form-url="{% url 'update_object' object.pk %}">
                                                          <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
                                                        </button>
                                                        <!-- Delete form buttons -->
                                                        <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_object' object.pk %}">
                                                          <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
                                                        </button>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if form.created_by == user or user.is_superuser %}
                                        <!-- Update form buttons -->
                                        <button type="button" class="update-object btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #393e46;" data-form-url="{% url 'update_object' object.pk %}">
                                          <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
                                        </button>
                                        <!-- Delete form buttons -->
                                        <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_object' object.pk %}">
                                          <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
                                        </button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                     </tbody>
                  </table>
            {% endif %}
              {% endfor %}
        </div>
        </td>
    </tr>
    <tr class="hide-table-padding" style="padding: 0px;">
        <td class="card-footer" colspan="10"  style="padding: 0px;">
        <div id="{{ form.id }}_member" class="collapse in p-3" >
            {% for member in members %}
                {% if form == member.form%}
                    {% if user == member.user%}
                        {% if member.role == 1 and form.created_by != user and not user.is_superuser %}
                            <div class="mb-3">
                                <button type="button" class="bs-modal create-object btn btn-sm btn-secondary" style="background-color: #158467;"  data-form-url="{% url 'create_member' form.pk %}">
                                    {% trans 'New2' %} {% trans 'Member' %}
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if form.created_by == user or user.is_superuser %}
            <div class="mb-3">
               <button type="button" class="bs-modal create-object btn btn-sm btn-secondary" style="background-color: #158467;"  data-form-url="{% url 'create_member' form.pk %}">
                   {% trans 'New2' %} {% trans 'Member' %}
                </button>
            </div>
            {% endif %}

            {% define "unlocked" as member_lock %}

            {% for member in members%}
                {% if form == member.form %}
                    {% if member_lock == "unlocked" %}
                        {% define "locked" as member_lock %}
                             <table  class="table table-sm" style="margin-bottom: 0px;">
                                  <thead>
                                  <tr style="background-color: #158467;">
                                    <th class="text-center text-white" scope="col" width="33%">{% trans 'Member' %}</th>
                                    <th class="text-center text-white" scope="col" width="33%">{% trans 'Role' %}</th>
                                       {% if not user.is_anonymous %}
                                    <th class="text-center text-white" scope="col" width="33%">{% trans 'Actions' %}</th>
                                        {% endif %}
                                   </tr>
                                  </thead>
                                </table>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for member in members %}
                {% if form == member.form %}
                    <table  class="table  table-striped table-bordered table-sm" style="margin-bottom: 0px;">
                        <tbody>
                        <tr>
                            <td class="text-center" width="33%">{{ member.user }}</td>
                            {% if member.role == 1 %}
                            <td class="text-center" width="33%">{% trans 'Administrator' %}</td>
                            {% else %}
                            <td class="text-center" width="33%">{% trans 'Member' %}</td>
                            {% endif %}
                            {% if not user.is_anonymous %}
                                <td class="text-center  " width="33%">
                                    <button type="button" class="bs-modal read-form btn btn-sm btn-secondary" style="background-color: #158467;" data-form-url="{% url 'read_member' member.pk %}">
                                      <img src="{% static "open-iconic-master/svg/eye_w.svg" %}" width="13" height="13" >
                                    </button>
                                     {% for member in members %}
                                            {% if form == member.form%}
                                                {% if user == member.user%}
                                                    {% if member.role == 1 and form.created_by != user and not user.is_superuser %}
                                                         <!-- Update form buttons -->
                                                            <button type="button" class="update-object btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #158467;" data-form-url="{% url 'update_member' member.pk %}">
                                                              <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
                                                            </button>
                                                            <!-- Delete form buttons -->
                                                            <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_member' member.pk %}">
                                                              <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
                                                            </button>
                                                    {% endif %}
                                                {% endif %}
                                           {% endif %}
                                       {% endfor %}
                                    {% if form.created_by == user or user.is_superuser%}
                                        <!-- Update form buttons -->
                                        <button type="button" class="update-object btn btn-sm btn-secondary d-none d-lg-table-cell" style="background-color: #158467;" data-form-url="{% url 'update_member' member.pk %}">
                                          <img src="{% static "open-iconic-master/svg/pencil_w.svg" %}" width="13" height="13">
                                        </button>
                                        <!-- Delete form buttons -->
                                        <button type="button" class="bs-modal delete-form btn btn-sm btn-secondary d-none d-lg-table-cell" data-form-url="{% url 'delete_member' member.pk %}">
                                          <img src="{% static "open-iconic-master/svg/trash_w.svg" %}" width="13" height="13">
                                        </button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                     </tbody>
                  </table>
            {% endif %}
              {% endfor %}

        </div>
        </td>
    </tr>
  {% endfor %}


  </tbody>
</table>
